.card{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    height: 250px;
    width: 100%;
    margin: 0 15px;
      }
  
.card-image{
    width:100%;
    height:100%;
      }

.title{
    font-size: 25px;
    color: white;
    position: absolute;
    padding: 170px 50px;
}

.capt{
  font-size: 20px;
  position: absolute;
  padding: 120px 20px;
  color: white;
}

    
button.rec-dot{
    background-color:  rgba(184, 176, 176, 0.795);
    box-shadow:none;
} 
button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus {
    background-color: rgb(231, 112, 0);
    box-shadow:none;
  }
button.rec-dot_active{
  background-color: rgb(231, 112, 0);
}
button.rec-arrow:focus{
    background-color: white;
    box-shadow: 0 0 1px 3px rgb(255, 255, 255);
}
button.rec-arrow_active{
  background-color: teal;
}
button.rec-arrow-left{
    background-color: white;
}
button.rec-arrow-right{
    background-color: white;
}
button.rec-arrow-right:hover {
  background-color:  rgb(231, 112, 0);
}
button.rec-arrow-left:hover{
  background-color: rgb(231, 112, 0);
}